<div class="form-control">
  <div class="row">
    <div class="sidenav" id="login-field">
      <div class="field form-control" >


      <%= form_with(model: event, local: true) do |form| %>
        <% if event.errors.any? %>
          <div id="error_explanation">
            <h2><%= pluralize(event.errors.count, "error") %> prohibited this event from being saved:</h2>

            <ul>
            <% event.errors.full_messages.each do |message| %>
              <li><%= message %></li>
            <% end %>
            </ul>
          </div>
        <% end %>

        <div class="field">
          <%= form.label :name %><br />
          <%= form.text_field :name, id: :event_name%>
        </div>

        <div class="field">
          <%= form.label :description %><br />
          <%= form.text_field :description, id: :event_description %>
        </div>

        <div class="field">
          <%= form.label :latitude %><br />
          <%= form.text_field :lat %>
        </div>

        <div class="field">
          <%= form.label :longitude %><br />
          <%= form.text_field :lng %>
        </div>

        <div class="actions">
          <%= form.submit class: "btn btn-outline-secondary"%>
        </div>
      <% end %>


      </div>
    </div>
  </div>
</div>