<div class="form-control">
  <div class="row">
    <div class="sidenav" id="login-field">
      <div class="field form-control" >


      <%= form_with(model: event, local: true) do |form| %>
        <% if event.errors.any? %>
          <div id="error_explanation">
            <h2><%= pluralize(event.errors.count, "error") %> prohibited this event from being saved:</h2>

            <ul>
            <% event.errors.full_messages.each do |message| %>
              <li><%= message %></li>
            <% end %>
            </ul>
          </div>
        <% end %>

        <div class="field">
          <%= form.label :name %><br />
          <%= form.text_field :name, id: :event_name%>
        </div>

        <div class="field">
          <%= form.label :description %><br />
          <%= form.text_field :description, id: :event_description %>
        </div>

        <div class="field">
          <%= form.label :address %><br />
          <%= form.text_field :address, id: :event_address %>
          <p> Format: Wojskowa 6, Poznań </p>
        </div>

        <div class="field">
          <%= form.label :date %><br />
          <%= form.date_field :date, id: :event_date %>
        </div>

        <div class="field">
          <%= form.label :time %><br />
          <%= form.time_field :time, id: :event_time %>
        </div>

        <div class="actions">
          <%= form.submit class: "btn btn-outline-secondary"%>
        </div>
      <% end %>


      </div>
    </div>
  </div>
</div>