<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @event.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @event.description %>
</p>

<% if @event.participants.map(&:id).include?(current_user.id) %>
  <p style="font-size:18px"> You are going to this event. </p>
<% end %>

<p>
  <%= render "events/map" %>
</p>

<%= link_to 'Edit', edit_event_path(@event) %> |
<%= link_to 'Back', events_path %>
