<nav class="navbar navbar-expand-lg navbar-light bg-light">

    <div class="form-inline" id="log">
      <div>
        <% if current_user %>
          <span id="user-name">
            <%= current_user.first_name %>
          </span>
          <%= link_to "Sign Out", destroy_user_session_path, method: :delete %>
        <% else %>
          <span id ="app-name">NomadApp</span>
        <% end %>
      </div>

      <form class="form-inline">
        <div id="nav-button2">
          <%= link_to "Add Event", new_event_path %>
        </div>

        <div id="nav-button3">
          <%= link_to "My Events", user_my_events_path %>
        </div>

        <div id="nav-button1">
          <%= link_to "Home", root_path %>
        </div>
      </form>

    </div>
</nav>