<nav class="navbar navbar-expand-lg navbar-light bg-light">

    <div class="form-inline" id="log">
      <div>
        <% if current_user %>
          Logged in as <%= current_user.email %>.
          <%= link_to "Log Out", logout_path %>
        <% else %>
          <%= link_to "Create", create_path %> or
          <%= link_to "Log In", login_path %>
        <% end %>
      </div>

      <form class="form-inline">
        <div id="nav-button">
          <%= link_to "Add Event", newevent_path %>
        </div>
      </form>

    </div>
</nav>