<!DOCTYPE html>
<html>
  <head>
    <title>NomadApp</title>
    <%= csrf_meta_tags %>
    <%= javascript_include_tag "https://maps.googleapis.com/maps/api/js?key=AIzaSyCu9cIDuY72J2pJxd482dU9S6GXlNdVHzA&callback" %>
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
    <!-- <% if current_user %>
      Logged in as <%= current_user.email %>.
      <%= link_to "Log Out", logout_path %>
    <% else %>
      <%= link_to "Sign Up", signup_path %> or
      <%= link_to "Log In", login_path %>
    <% end %> -->

    <div class="container">
      <%= render "layouts/nav"%>
      <%= yield %>
    </div>

  </body>
</html>
