<!DOCTYPE html>
<html>
  <head>
    <title>NomadApp</title>
    <%= csrf_meta_tags %>

    <%= javascript_include_tag "https://maps.googleapis.com/maps/api/js?key=AIzaSyCu9cIDuY72J2pJxd482dU9S6GXlNdVHzA&callback=initMap", async: true, defer:'defer' %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <% if current_user %>
      Logged in as <%= current_user.email %>.
      <%= link_to "Log Out", logout_path %>
    <% else %>
      <%= link_to "Sign Up", signup_path %> or
      <%= link_to "Log In", login_path %>
    <% end %>
    
    <%= yield %>
  </body>
</html>


